In [1]:
pwd{}

'/home/perihan_balat86/Desktop/data'

In [2]:
import pandas as pd
import zipfile
import numpy as np
import glob

In [4]:
zf=zipfile.ZipFile('health_public_quarterly_income_statements_1.zip')

In [5]:
def dataformat(df2):
    colnames = ["ID", "Date"]
    colnames.extend([x for x in df[1]])
    colnames = np.unique(colnames)
    new_df = pd.DataFrame(columns=colnames)
    for i, feature in enumerate(colnames[2:]):
        idcol = df.iloc[i, 0]
        for j in range(2, df.shape[1], 2):
            date = df.iloc[i, j]
            value = df.iloc[i, j+1]
            if pd.isna(date):
                continue
            if len(new_df[(new_df['ID'] == idcol) & (new_df['Date'] == date)]) == 0:
                new_df = new_df.append({'ID': idcol, 'Date': date}, ignore_index=True)
            new_df.loc[(new_df['ID'] == idcol) & (new_df['Date'] == date), feature] = value
    return new_df

In [6]:
text_files =zf.infolist()
list_ =[]
for text_file in text_files:
    print(text_file.filename)
    df = pd.read_csv(zf.open(text_file.filename),header=None)
    df= dataformat(df)
    list_.append(df)
    
frame=pd.concat(list_,axis=0,ignore_index=True)

IQ24657663_quarterly_income_statement.csv
IQ22846192_quarterly_income_statement.csv
IQ37124745_quarterly_income_statement.csv
IQ1072270_quarterly_income_statement.csv
IQ170167460_quarterly_income_statement.csv
IQ11323051_quarterly_income_statement.csv
IQ33710144_quarterly_income_statement.csv
IQ5561930_quarterly_income_statement.csv
IQ125064_quarterly_income_statement.csv
IQ241402768_quarterly_income_statement.csv
IQ631759_quarterly_income_statement.csv
IQ969333_quarterly_income_statement.csv
IQ1856089_quarterly_income_statement.csv
IQ683131_quarterly_income_statement.csv
IQ28092833_quarterly_income_statement.csv
IQ11611587_quarterly_income_statement.csv
IQ23335210_quarterly_income_statement.csv
IQ1268289_quarterly_income_statement.csv
IQ775042_quarterly_income_statement.csv
IQ8863787_quarterly_income_statement.csv
IQ426471_quarterly_income_statement.csv
IQ35248832_quarterly_income_statement.csv
IQ20951204_quarterly_income_statement.csv
IQ36732_quarterly_income_statement.csv
IQ30966099_quarterly_income_statement.csv
IQ881428_quarterly_income_statement.csv
IQ6182532_quarterly_income_statement.csv
IQ225840112_quarterly_income_statement.csv
IQ136934725_quarterly_income_statement.csv
IQ8121889_quarterly_income_statement.csv
IQ426614692_quarterly_income_statement.csv
IQ849883_quarterly_income_statement.csv
IQ31348_quarterly_income_statement.csv
IQ140571_quarterly_income_statement.csv
IQ288390382_quarterly_income_statement.csv
IQ135020_quarterly_income_statement.csv
IQ232036063_quarterly_income_statement.csv
IQ382355978_quarterly_income_statement.csv
IQ38010555_quarterly_income_statement.csv
IQ5669608_quarterly_income_statement.csv
IQ292826978_quarterly_income_statement.csv
IQ22255_quarterly_income_statement.csv
IQ25265866_quarterly_income_statement.csv
IQ222872609_quarterly_income_statement.csv
IQ217248438_quarterly_income_statement.csv
IQ559013_quarterly_income_statement.csv
IQ599498568_quarterly_income_statement.csv
IQ139391_quarterly_income_statement.csv
IQ51198843_quarterly_income_statement.csv
IQ8081296_quarterly_income_statement.csv
IQ99715630_quarterly_income_statement.csv
IQ32677064_quarterly_income_statement.csv
IQ138366296_quarterly_income_statement.csv
IQ28776252_quarterly_income_statement.csv
IQ26745328_quarterly_income_statement.csv
IQ10838013_quarterly_income_statement.csv
IQ23585971_quarterly_income_statement.csv
IQ224237737_quarterly_income_statement.csv
IQ9220630_quarterly_income_statement.csv
IQ257267990_quarterly_income_statement.csv
IQ11609342_quarterly_income_statement.csv
IQ36416960_quarterly_income_statement.csv
IQ323748321_quarterly_income_statement.csv
IQ850025_quarterly_income_statement.csv
IQ786673_quarterly_income_statement.csv
IQ224178960_quarterly_income_statement.csv
IQ4493068_quarterly_income_statement.csv
IQ336774_quarterly_income_statement.csv
IQ143773590_quarterly_income_statement.csv
IQ168505_quarterly_income_statement.csv
IQ51119084_quarterly_income_statement.csv
IQ135212_quarterly_income_statement.csv
IQ109640450_quarterly_income_statement.csv
IQ613227_quarterly_income_statement.csv
IQ24389756_quarterly_income_statement.csv
IQ46268435_quarterly_income_statement.csv
IQ28567_quarterly_income_statement.csv
IQ28374186_quarterly_income_statement.csv
IQ99552165_quarterly_income_statement.csv
IQ228238262_quarterly_income_statement.csv
IQ84155935_quarterly_income_statement.csv
IQ34783_quarterly_income_statement.csv
IQ881330_quarterly_income_statement.csv
IQ142264144_quarterly_income_statement.csv
IQ214382121_quarterly_income_statement.csv
IQ260049407_quarterly_income_statement.csv
IQ28071_quarterly_income_statement.csv
IQ37345302_quarterly_income_statement.csv
IQ8087519_quarterly_income_statement.csv
IQ24929296_quarterly_income_statement.csv
IQ113495056_quarterly_income_statement.csv
IQ225499635_quarterly_income_statement.csv
IQ127495643_quarterly_income_statement.csv
IQ697051_quarterly_income_statement.csv
IQ6136592_quarterly_income_statement.csv
IQ4422885_quarterly_income_statement.csv
IQ412306970_quarterly_income_statement.csv
IQ736446_quarterly_income_statement.csv
IQ694234_quarterly_income_statement.csv
IQ48974524_quarterly_income_statement.csv
IQ23109814_quarterly_income_statement.csv
IQ5631669_quarterly_income_statement.csv
IQ21770633_quarterly_income_statement.csv
IQ4493218_quarterly_income_statement.csv
IQ26201104_quarterly_income_statement.csv
IQ3206363_quarterly_income_statement.csv
IQ6044366_quarterly_income_statement.csv
IQ25044540_quarterly_income_statement.csv
IQ596117_quarterly_income_statement.csv
IQ334227332_quarterly_income_statement.csv
IQ876030_quarterly_income_statement.csv
IQ6563860_quarterly_income_statement.csv
IQ109129442_quarterly_income_statement.csv
IQ881750_quarterly_income_statement.csv
IQ118990719_quarterly_income_statement.csv
IQ20946994_quarterly_income_statement.csv
IQ9560513_quarterly_income_statement.csv
IQ882787_quarterly_income_statement.csv
IQ21811775_quarterly_income_statement.csv
IQ877290_quarterly_income_statement.csv
IQ237818696_quarterly_income_statement.csv
IQ131424_quarterly_income_statement.csv
IQ22430517_quarterly_income_statement.csv
IQ20459861_quarterly_income_statement.csv
IQ134377_quarterly_income_statement.csv
IQ6562238_quarterly_income_statement.csv
IQ5027273_quarterly_income_statement.csv
IQ22309440_quarterly_income_statement.csv
IQ39098844_quarterly_income_statement.csv
IQ26899546_quarterly_income_statement.csv
IQ9817151_quarterly_income_statement.csv
IQ428236982_quarterly_income_statement.csv
IQ49121095_quarterly_income_statement.csv
IQ760034_quarterly_income_statement.csv
IQ126755578_quarterly_income_statement.csv
IQ136709_quarterly_income_statement.csv
IQ38777177_quarterly_income_statement.csv
IQ11791622_quarterly_income_statement.csv
IQ24572_quarterly_income_statement.csv
IQ882086_quarterly_income_statement.csv
IQ137717_quarterly_income_statement.csv
IQ13746332_quarterly_income_statement.csv
IQ20950715_quarterly_income_statement.csv
IQ671670_quarterly_income_statement.csv
IQ137490_quarterly_income_statement.csv
IQ182486692_quarterly_income_statement.csv
IQ31044891_quarterly_income_statement.csv
IQ28942762_quarterly_income_statement.csv
IQ134680324_quarterly_income_statement.csv
IQ20476808_quarterly_income_statement.csv
IQ43257686_quarterly_income_statement.csv
IQ877135_quarterly_income_statement.csv
IQ7686837_quarterly_income_statement.csv
IQ8515825_quarterly_income_statement.csv
IQ54765620_quarterly_income_statement.csv
IQ784187_quarterly_income_statement.csv
IQ115161163_quarterly_income_statement.csv
IQ43246930_quarterly_income_statement.csv
IQ9683234_quarterly_income_statement.csv
IQ103375_quarterly_income_statement.csv
IQ50208126_quarterly_income_statement.csv
IQ168416_quarterly_income_statement.csv
IQ365034261_quarterly_income_statement.csv
IQ883218_quarterly_income_statement.csv
IQ4803148_quarterly_income_statement.csv
IQ879839_quarterly_income_statement.csv
IQ2480879_quarterly_income_statement.csv
IQ687130_quarterly_income_statement.csv
IQ8292723_quarterly_income_statement.csv
IQ6724933_quarterly_income_statement.csv
IQ46107232_quarterly_income_statement.csv
IQ420199_quarterly_income_statement.csv
IQ302206937_quarterly_income_statement.csv
IQ49613021_quarterly_income_statement.csv
IQ139682_quarterly_income_statement.csv
IQ10246536_quarterly_income_statement.csv
IQ5531441_quarterly_income_statement.csv
IQ1458939_quarterly_income_statement.csv
IQ41570535_quarterly_income_statement.csv
IQ30400320_quarterly_income_statement.csv
IQ549517766_quarterly_income_statement.csv
IQ254620434_quarterly_income_statement.csv
IQ326086730_quarterly_income_statement.csv
IQ364624951_quarterly_income_statement.csv
IQ146198577_quarterly_income_statement.csv
IQ51769988_quarterly_income_statement.csv
IQ236761857_quarterly_income_statement.csv
IQ27482664_quarterly_income_statement.csv
IQ79145268_quarterly_income_statement.csv
IQ36438993_quarterly_income_statement.csv
IQ825552_quarterly_income_statement.csv
IQ12668511_quarterly_income_statement.csv
IQ39347275_quarterly_income_statement.csv
IQ4481283_quarterly_income_statement.csv
IQ809542_quarterly_income_statement.csv
IQ4481757_quarterly_income_statement.csv
IQ6021724_quarterly_income_statement.csv
IQ8952281_quarterly_income_statement.csv

IQ97461_quarterly_income_statement.csv
IQ5647569_quarterly_income_statement.csv
IQ285640001_quarterly_income_statement.csv
IQ2573627_quarterly_income_statement.csv
IQ24932555_quarterly_income_statement.csv
IQ112698313_quarterly_income_statement.csv
IQ876863_quarterly_income_statement.csv
IQ874491_quarterly_income_statement.csv
IQ407863_quarterly_income_statement.csv
IQ883811_quarterly_income_statement.csv
IQ771431_quarterly_income_statement.csv
IQ22580571_quarterly_income_statement.csv
IQ426193298_quarterly_income_statement.csv
IQ27283_quarterly_income_statement.csv
IQ232510539_quarterly_income_statement.csv
IQ419303_quarterly_income_statement.csv
IQ208304_quarterly_income_statement.csv
IQ100410633_quarterly_income_statement.csv
IQ664155_quarterly_income_statement.csv
IQ915825_quarterly_income_statement.csv
IQ403350686_quarterly_income_statement.csv
IQ3733605_quarterly_income_statement.csv
IQ881607_quarterly_income_statement.csv
IQ577715013_quarterly_income_statement.csv
IQ40500743_quarterly_income_statement.csv
IQ61679890_quarterly_income_statement.csv
IQ4222700_quarterly_income_statement.csv
IQ874709_quarterly_income_statement.csv
IQ60016999_quarterly_income_statement.csv
IQ25697167_quarterly_income_statement.csv
IQ62120637_quarterly_income_statement.csv
IQ224927927_quarterly_income_statement.csv
IQ881826_quarterly_income_statement.csv
IQ6353086_quarterly_income_statement.csv
IQ7687618_quarterly_income_statement.csv
IQ52511612_quarterly_income_statement.csv
IQ235063288_quarterly_income_statement.csv
IQ8100675_quarterly_income_statement.csv
IQ46476571_quarterly_income_statement.csv
IQ12505880_quarterly_income_statement.csv
IQ20964629_quarterly_income_statement.csv
IQ34384973_quarterly_income_statement.csv
IQ11257739_quarterly_income_statement.csv
IQ20375459_quarterly_income_statement.csv
IQ25727861_quarterly_income_statement.csv
IQ206649213_quarterly_income_statement.csv
IQ23049465_quarterly_income_statement.csv
IQ132944609_quarterly_income_statement.csv
IQ36478_quarterly_income_statement.csv
IQ30901700_quarterly_income_statement.csv
IQ419453_quarterly_income_statement.csv
IQ384522_quarterly_income_statement.csv
IQ1216695_quarterly_income_statement.csv
IQ24677080_quarterly_income_statement.csv
IQ278298574_quarterly_income_statement.csv
IQ47267521_quarterly_income_statement.csv
IQ114776342_quarterly_income_statement.csv
IQ273516426_quarterly_income_statement.csv
IQ882593_quarterly_income_statement.csv
IQ638436714_quarterly_income_statement.csv
IQ3199016_quarterly_income_statement.csv
IQ142230_quarterly_income_statement.csv
IQ27892_quarterly_income_statement.csv
IQ997213_quarterly_income_statement.csv
IQ32943_quarterly_income_statement.csv
IQ1268514_quarterly_income_statement.csv
IQ679534_quarterly_income_statement.csv
IQ39510693_quarterly_income_statement.csv
IQ326237463_quarterly_income_statement.csv
IQ61544057_quarterly_income_statement.csv
IQ24225165_quarterly_income_statement.csv
IQ571287212_quarterly_income_statement.csv
IQ5631624_quarterly_income_statement.csv
IQ217021098_quarterly_income_statement.csv
IQ12703856_quarterly_income_statement.csv
IQ9412803_quarterly_income_statement.csv
IQ4509287_quarterly_income_statement.csv
IQ23568713_quarterly_income_statement.csv
IQ6512027_quarterly_income_statement.csv
IQ185801_quarterly_income_statement.csv
IQ107137171_quarterly_income_statement.csv
IQ13529463_quarterly_income_statement.csv
IQ27129567_quarterly_income_statement.csv
IQ47738410_quarterly_income_statement.csv
IQ419853_quarterly_income_statement.csv
IQ31320_quarterly_income_statement.csv
IQ9950803_quarterly_income_statement.csv
IQ435202948_quarterly_income_statement.csv
IQ137478764_quarterly_income_statement.csv
IQ1051103_quarterly_income_statement.csv
IQ3129354_quarterly_income_statement.csv
IQ20990248_quarterly_income_statement.csv
IQ1789203_quarterly_income_statement.csv
IQ883064_quarterly_income_statement.csv
IQ419846_quarterly_income_statement.csv
IQ687223_quarterly_income_statement.csv
IQ41133127_quarterly_income_statement.csv
IQ286184488_quarterly_income_statement.csv
IQ25521736_quarterly_income_statement.csv
IQ138820134_quarterly_income_statement.csv
IQ131374495_quarterly_income_statement.csv
IQ32543_quarterly_income_statement.csv
IQ33471_quarterly_income_statement.csv
IQ320042758_quarterly_income_statement.csv
IQ2985449_quarterly_income_statement.csv
IQ76643512_quarterly_income_statement.csv
IQ881615_quarterly_income_statement.csv
IQ789331_quarterly_income_statement.csv
IQ27773888_quarterly_income_statement.csv
IQ107987804_quarterly_income_statement.csv
IQ875519_quarterly_income_statement.csv
IQ62290167_quarterly_income_statement.csv
IQ263757525_quarterly_income_statement.csv

In [10]:
frame.head()

,Date,ID,IQ_BASIC_EPS_EXCL,IQ_BASIC_EPS_INCL,IQ_BASIC_WEIGHT,IQ_CALC_TYPE_IS,IQ_COGS,IQ_COST_REV,IQ_DA_EBITDA,IQ_DILUT_EPS_EXCL,...,IQ_SGA,IQ_SGA_SUPPL,IQ_SPECIAL_DIV_SHARE,IQ_TOTAL_OPER_EXPEN,IQ_TOTAL_OTHER_OPER,IQ_TOTAL_REV,IQ_TOTAL_REV_AS_REPORTED,IQ_TOTAL_REV_SHARE,IQ_TOTAL_UNUSUAL,IQ_TOTAL_UNUSUAL_SUPPLE
0,3/16/2010,IQ24657663,-5.564456,NaN,-17.015579,NaN,0.672007,0.038442,NaN,-15.630368,...,NaN,3,-11.492489,-5.358695,NaN,-5.358695,-3.186565,RC,0.096133,-5.358695
1,5/18/2010,IQ24657663,-3.373000,NaN,-3.466000,NaN,1.923000,0.007000,NaN,-2.864678,...,NaN,3,-3.466000,-3.373000,NaN,-3.373000,-1.790423,RC,0.100007,-3.373000
2,8/20/2010,IQ24657663,-2.842000,NaN,-2.874000,NaN,1.242000,0.005000,NaN,-2.043156,...,NaN,3,-2.874000,-2.599000,NaN,-2.599000,-1.276972,RC,0.106636,-2.599000
3,11/5/2010,IQ24657663,-3.010000,NaN,-3.050000,NaN,1.473000,0.010000,NaN,-2.199999,...,NaN,3,-3.050000,-3.010000,NaN,-3.010000,-1.355172,RC,0.194078,-3.010000
4,4/1/2011,IQ24657663,-3.223270,NaN,-8.168226,NaN,0.225269,-0.022000,NaN,-4.048724,...,NaN,3,-3.378746,-3.223270,NaN,-3.223270,-1.000103,RC,0.289518,-3.223270

In [11]:
print(type(frame))

<class 'pandas.core.frame.DataFrame'>

In [12]:
frame.shape

(7009, 79)

In [13]:
frame.ndim

2

In [14]:
frame.describe()

,Date,ID,IQ_BASIC_EPS_EXCL,IQ_BASIC_EPS_INCL,IQ_BASIC_WEIGHT,IQ_CALC_TYPE_IS,IQ_COGS,IQ_COST_REV,IQ_DA_EBITDA,IQ_DILUT_EPS_EXCL,...,IQ_SGA,IQ_SGA_SUPPL,IQ_SPECIAL_DIV_SHARE,IQ_TOTAL_OPER_EXPEN,IQ_TOTAL_OTHER_OPER,IQ_TOTAL_REV,IQ_TOTAL_REV_AS_REPORTED,IQ_TOTAL_REV_SHARE,IQ_TOTAL_UNUSUAL,IQ_TOTAL_UNUSUAL_SUPPLE
count,7009,7009,6939,1342,6939,775,6508,4728,4217,6648,...,1132,6939,6939,6939,4039,6939,6650,7009,6558,6939
unique,2054,308,6420,1066,6368,609,6131,3531,3684,5711,...,831,1,6445,6463,2347,6469,6523,11,6482,6453
top,3/1/2010,IQ687130,0.300000,0.000000,5.000000,-12.000000,0.700000,0.000000,0.600000,0.030000,...,-2.000000,3,22.000000,0.100000,-0.001000,127.000000,-0.118750,NC,0.000000,127.000000
freq,51,40,5,41,10,11,8,22,10,21,...,14,6939,5,5,133,6,8,3030,10,6

In [15]:
frame.shape

(7009, 79)

In [16]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 79 columns):
Date                                  7009 non-null object
ID                                    7009 non-null object
IQ_BASIC_EPS_EXCL                     6939 non-null object
IQ_BASIC_EPS_INCL                     1342 non-null object
IQ_BASIC_WEIGHT                       6939 non-null object
IQ_CALC_TYPE_IS                       775 non-null object
IQ_COGS                               6508 non-null object
IQ_COST_REV                           4728 non-null object
IQ_DA_EBITDA                          4217 non-null object
IQ_DILUT_EPS_EXCL                     6648 non-null object
IQ_DILUT_EPS_INCL                     6907 non-null object
IQ_DILUT_EPS_NORM                     6939 non-null object
IQ_DILUT_NI                           6939 non-null object
IQ_DILUT_WEIGHT                       6845 non-null object
IQ_DISTRIBUTABLE_CASH                 6939 non-null object
IQ_DISTRIBUTABLE_CASH_STANDARDIZED    6926 non-null object
IQ_EARNING_CO                         0 non-null object
IQ_EARNING_PARENT_EXCL_EXTRA          389 non-null object
IQ_EBIT                               6977 non-null object
IQ_EBITA                              6939 non-null object
IQ_EBITA_EQ_INC                       6907 non-null object
IQ_EBITA_EQ_INC_EXCL_SBC              6939 non-null object
IQ_EBITA_EXCL_SBC                     1272 non-null object
IQ_EBITDA                             0 non-null object
IQ_EBITDA_CAPEX                       6907 non-null object
IQ_EBITDA_EQ_INC                      6647 non-null object
IQ_EBITDA_EQ_INC_EXCL_SBC             856 non-null object
IQ_EBITDA_EXCL_SBC                    6939 non-null object
IQ_EBIT_EQ_INC                        163 non-null object
IQ_EBIT_EQ_INC_EXCL_SBC               6650 non-null object
IQ_EBIT_EXCL_SBC                      6483 non-null object
IQ_EBT                                6508 non-null object
IQ_EBT_EXCL                           1272 non-null object
IQ_EFFECT_TAX_RATE                    5664 non-null object
IQ_EPS_NORM                           6939 non-null object
IQ_GP                                 6939 non-null object
IQ_INC_TAX                            5121 non-null object
IQ_INTEREST_EXP                       6939 non-null object
IQ_INTEREST_INVEST_INC                6648 non-null object
IQ_INT_EXP_INCL_CAP                   6939 non-null object
IQ_NET_INTEREST_EXP                   159 non-null object
IQ_NET_RENTAL_EXP                     6939 non-null object
IQ_NET_RENTAL_EXP_FN                  5961 non-null object
IQ_NET_RENTAL_EXP_SUPPLE              2017 non-null object
IQ_NI                                 53 non-null object
IQ_NI_AVAIL_EXCL                      6907 non-null object
IQ_NI_AVAIL_INCL                      6656 non-null object
IQ_NI_COMPANY                         6862 non-null object
IQ_NI_NORM                            0 non-null object
IQ_OPER_INC                           2390 non-null object
IQ_OTHER_NON_OPER_EXP                 6656 non-null object
IQ_OTHER_NON_OPER_EXP_SUPPL           6939 non-null object
IQ_OTHER_OPER                         6937 non-null object
IQ_OTHER_REV                          5123 non-null object
IQ_OTHER_REV_SUPPL                    3222 non-null object
IQ_OTHER_UNUSUAL                      6768 non-null object
IQ_OTHER_UNUSUAL_SUPPL                6786 non-null object
IQ_OTHER_UNUSUAL_SUPPLE               6907 non-null object
IQ_PAYOUT_RATIO                       3273 non-null object
IQ_PERIODLENGTH_IS                    6523 non-null object
IQ_PROV_BAD_DEBTS                     6939 non-null object
IQ_RD_EXP                             2632 non-null object
IQ_RD_EXP_FN                          64 non-null object
IQ_RESTATEMENT_IS                     6182 non-null object
IQ_RESTRUCTURE                        6939 non-null object
IQ_RESTRUCTURE_SUPPLE                 6648 non-null object
IQ_REV                                332 non-null object
IQ_SALARIES_OTHER_BENEFITS            3289 non-null object
IQ_SAME_STORE                         1510 non-null object
IQ_SGA                                1132 non-null object
IQ_SGA_SUPPL                          6939 non-null object
IQ_SPECIAL_DIV_SHARE                  6939 non-null object
IQ_TOTAL_OPER_EXPEN                   6939 non-null object
IQ_TOTAL_OTHER_OPER                   4039 non-null object
IQ_TOTAL_REV                          6939 non-null object
IQ_TOTAL_REV_AS_REPORTED              6650 non-null object
IQ_TOTAL_REV_SHARE                    7009 non-null object
IQ_TOTAL_UNUSUAL                      6558 non-null object
IQ_TOTAL_UNUSUAL_SUPPLE               6939 non-null object
dtypes: object(79)
memory usage: 4.2+ MB

In [17]:
new_frame= frame

In [18]:
new_frame.head()

,Date,ID,IQ_BASIC_EPS_EXCL,IQ_BASIC_EPS_INCL,IQ_BASIC_WEIGHT,IQ_CALC_TYPE_IS,IQ_COGS,IQ_COST_REV,IQ_DA_EBITDA,IQ_DILUT_EPS_EXCL,...,IQ_SGA,IQ_SGA_SUPPL,IQ_SPECIAL_DIV_SHARE,IQ_TOTAL_OPER_EXPEN,IQ_TOTAL_OTHER_OPER,IQ_TOTAL_REV,IQ_TOTAL_REV_AS_REPORTED,IQ_TOTAL_REV_SHARE,IQ_TOTAL_UNUSUAL,IQ_TOTAL_UNUSUAL_SUPPLE
0,3/16/2010,IQ24657663,-5.564456,NaN,-17.015579,NaN,0.672007,0.038442,NaN,-15.630368,...,NaN,3,-11.492489,-5.358695,NaN,-5.358695,-3.186565,RC,0.096133,-5.358695
1,5/18/2010,IQ24657663,-3.373000,NaN,-3.466000,NaN,1.923000,0.007000,NaN,-2.864678,...,NaN,3,-3.466000,-3.373000,NaN,-3.373000,-1.790423,RC,0.100007,-3.373000
2,8/20/2010,IQ24657663,-2.842000,NaN,-2.874000,NaN,1.242000,0.005000,NaN,-2.043156,...,NaN,3,-2.874000,-2.599000,NaN,-2.599000,-1.276972,RC,0.106636,-2.599000
3,11/5/2010,IQ24657663,-3.010000,NaN,-3.050000,NaN,1.473000,0.010000,NaN,-2.199999,...,NaN,3,-3.050000,-3.010000,NaN,-3.010000,-1.355172,RC,0.194078,-3.010000
4,4/1/2011,IQ24657663,-3.223270,NaN,-8.168226,NaN,0.225269,-0.022000,NaN,-4.048724,...,NaN,3,-3.378746,-3.223270,NaN,-3.223270,-1.000103,RC,0.289518,-3.223270

In [19]:
new_frame['Date']=pd.to_datetime(new_frame['Date'], errors='coerce')

In [35]:
cols = new_frame.columns.drop(['Date','ID'])

new_frame[cols] = new_frame[cols].apply(pd.to_numeric, errors='coerce')

In [36]:
new_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 80 columns):
Date                                  7009 non-null datetime64[ns]
ID                                    7009 non-null object
IQ_BASIC_EPS_EXCL                     6939 non-null float64
IQ_BASIC_EPS_INCL                     1342 non-null float64
IQ_BASIC_WEIGHT                       6939 non-null float64
IQ_CALC_TYPE_IS                       775 non-null float64
IQ_COGS                               6508 non-null float64
IQ_COST_REV                           4728 non-null float64
IQ_DA_EBITDA                          4217 non-null float64
IQ_DILUT_EPS_EXCL                     6648 non-null float64
IQ_DILUT_EPS_INCL                     6907 non-null float64
IQ_DILUT_EPS_NORM                     6939 non-null float64
IQ_DILUT_NI                           6939 non-null float64
IQ_DILUT_WEIGHT                       6845 non-null float64
IQ_DISTRIBUTABLE_CASH                 6939 non-null float64
IQ_DISTRIBUTABLE_CASH_STANDARDIZED    6926 non-null float64
IQ_EARNING_CO                         0 non-null float64
IQ_EARNING_PARENT_EXCL_EXTRA          389 non-null float64
IQ_EBIT                               6977 non-null float64
IQ_EBITA                              6939 non-null float64
IQ_EBITA_EQ_INC                       6907 non-null float64
IQ_EBITA_EQ_INC_EXCL_SBC              6939 non-null float64
IQ_EBITA_EXCL_SBC                     1272 non-null float64
IQ_EBITDA                             0 non-null float64
IQ_EBITDA_CAPEX                       6907 non-null float64
IQ_EBITDA_EQ_INC                      6647 non-null float64
IQ_EBITDA_EQ_INC_EXCL_SBC             856 non-null float64
IQ_EBITDA_EXCL_SBC                    6939 non-null float64
IQ_EBIT_EQ_INC                        163 non-null float64
IQ_EBIT_EQ_INC_EXCL_SBC               6650 non-null float64
IQ_EBIT_EXCL_SBC                      6483 non-null float64
IQ_EBT                                6508 non-null float64
IQ_EBT_EXCL                           1272 non-null float64
IQ_EFFECT_TAX_RATE                    5664 non-null float64
IQ_EPS_NORM                           6939 non-null float64
IQ_GP                                 0 non-null float64
IQ_INC_TAX                            5121 non-null float64
IQ_INTEREST_EXP                       6939 non-null float64
IQ_INTEREST_INVEST_INC                6648 non-null float64
IQ_INT_EXP_INCL_CAP                   6939 non-null float64
IQ_NET_INTEREST_EXP                   159 non-null float64
IQ_NET_RENTAL_EXP                     6939 non-null float64
IQ_NET_RENTAL_EXP_FN                  5961 non-null float64
IQ_NET_RENTAL_EXP_SUPPLE              2017 non-null float64
IQ_NI                                 53 non-null float64
IQ_NI_AVAIL_EXCL                      6907 non-null float64
IQ_NI_AVAIL_INCL                      6656 non-null float64
IQ_NI_COMPANY                         6862 non-null float64
IQ_NI_NORM                            0 non-null float64
IQ_OPER_INC                           2390 non-null float64
IQ_OTHER_NON_OPER_EXP                 6656 non-null float64
IQ_OTHER_NON_OPER_EXP_SUPPL           6939 non-null float64
IQ_OTHER_OPER                         6937 non-null float64
IQ_OTHER_REV                          5123 non-null float64
IQ_OTHER_REV_SUPPL                    3222 non-null float64
IQ_OTHER_UNUSUAL                      6768 non-null float64
IQ_OTHER_UNUSUAL_SUPPL                6786 non-null float64
IQ_OTHER_UNUSUAL_SUPPLE               6907 non-null float64
IQ_PAYOUT_RATIO                       3273 non-null float64
IQ_PERIODLENGTH_IS                    6523 non-null float64
IQ_PROV_BAD_DEBTS                     6939 non-null float64
IQ_RD_EXP                             2632 non-null float64
IQ_RD_EXP_FN                          64 non-null float64
IQ_RESTATEMENT_IS                     6182 non-null float64
IQ_RESTRUCTURE                        6939 non-null float64
IQ_RESTRUCTURE_SUPPLE                 6648 non-null float64
IQ_REV                                332 non-null float64
IQ_SALARIES_OTHER_BENEFITS            3289 non-null float64
IQ_SAME_STORE                         1510 non-null float64
IQ_SGA                                1132 non-null float64
IQ_SGA_SUPPL                          6939 non-null float64
IQ_SPECIAL_DIV_SHARE                  6939 non-null float64
IQ_TOTAL_OPER_EXPEN                   6939 non-null float64
IQ_TOTAL_OTHER_OPER                   4039 non-null float64
IQ_TOTAL_REV                          6939 non-null float64
IQ_TOTAL_REV_AS_REPORTED              6650 non-null float64
IQ_TOTAL_REV_SHARE                    0 non-null float64
IQ_TOTAL_UNUSUAL                      6558 non-null float64
IQ_TOTAL_UNUSUAL_SUPPLE               6939 non-null float64
year                                  7009 non-null int64
dtypes: datetime64[ns](1), float64(77), int64(1), object(1)
memory usage: 4.3+ MB

In [30]:
new_frame.isnull().sum()

Date                           0
ID                             0
IQ_BASIC_EPS_EXCL             70
IQ_BASIC_EPS_INCL           5667
IQ_BASIC_WEIGHT               70
                            ...
IQ_TOTAL_REV                  70
IQ_TOTAL_REV_AS_REPORTED     359
IQ_TOTAL_REV_SHARE          7009
IQ_TOTAL_UNUSUAL             451
IQ_TOTAL_UNUSUAL_SUPPLE       70
Length: 79, dtype: int64

In [31]:
new_frame.describe()

,IQ_BASIC_EPS_EXCL,IQ_BASIC_EPS_INCL,IQ_BASIC_WEIGHT,IQ_CALC_TYPE_IS,IQ_COGS,IQ_COST_REV,IQ_DA_EBITDA,IQ_DILUT_EPS_EXCL,IQ_DILUT_EPS_INCL,IQ_DILUT_EPS_NORM,...,IQ_SGA,IQ_SGA_SUPPL,IQ_SPECIAL_DIV_SHARE,IQ_TOTAL_OPER_EXPEN,IQ_TOTAL_OTHER_OPER,IQ_TOTAL_REV,IQ_TOTAL_REV_AS_REPORTED,IQ_TOTAL_REV_SHARE,IQ_TOTAL_UNUSUAL,IQ_TOTAL_UNUSUAL_SUPPLE
count,6939.000000,1342.000000,6939.000000,775.000000,6508.000000,4728.000000,4217.000000,6648.000000,6907.000000,6939.000000,...,1132.000000,6939.0,6939.000000,6939.000000,4039.000000,6939.000000,6650.000000,0.0,6558.000000,6939.000000
mean,151.250754,-5.882255,107.702758,-57.473773,502.038877,8.118880,151.118550,0.804000,230.621120,87.516791,...,0.486290,3.0,118.210330,168.292304,-3.557626,175.300422,0.577622,NaN,37.370616,176.160835
std,1127.847177,263.239995,1079.996285,211.641730,3366.351876,264.680276,857.564519,26.073310,1689.162078,716.584533,...,240.047187,0.0,1125.601740,1204.324354,295.031378,1264.039845,16.978881,NaN,742.920774,1266.463043
min,-1704.000000,-5418.000000,-11818.000000,-4800.000000,-101.452000,-8276.000000,-61.444500,-980.570668,-1402.000000,-1438.125000,...,-3329.000000,3.0,-9950.000000,-1519.000000,-7565.000000,-1519.000000,-789.053019,NaN,-2.156993,-1519.000000
25%,-1.722187,-1.323181,-2.297835,-30.000000,1.817250,-0.190000,1.238285,-0.134240,-1.007500,-1.299469,...,-3.912500,3.0,-2.386000,-1.552500,-0.254500,-1.452000,-0.075735,NaN,0.186856,-1.450500
50%,0.712700,-0.010020,0.257000,-3.833000,12.665500,0.054821,6.611000,0.009798,1.909000,0.255000,...,-0.367500,3.0,0.327000,0.865000,-0.001716,0.945000,0.011290,NaN,1.166102,0.937000
75%,15.013500,0.230750,8.700000,-0.258750,84.262750,1.888750,34.939000,0.254187,22.507000,7.487500,...,0.085060,3.0,10.896352,16.514000,0.044000,17.095847,0.231121,NaN,4.207671,17.155250
max,25514.000000,3123.000000,26653.000000,46.000000,57953.051500,6805.000000,11562.000000,1367.902303,32853.000000,17051.500000,...,5733.000000,3.0,27540.000000,25514.000000,14169.000000,25514.000000,865.405110,NaN,28749.714940,25534.000000

In [32]:
new_frame.nunique()

Date                        2054
ID                           308
IQ_BASIC_EPS_EXCL           6420
IQ_BASIC_EPS_INCL           1066
IQ_BASIC_WEIGHT             6368
                            ...
IQ_TOTAL_REV                6469
IQ_TOTAL_REV_AS_REPORTED    6523
IQ_TOTAL_REV_SHARE             0
IQ_TOTAL_UNUSUAL            6482
IQ_TOTAL_UNUSUAL_SUPPLE     6453
Length: 79, dtype: int64

In [33]:
new_frame['Date'].describe()

count                    7009
unique                   2054
top       2010-03-01 00:00:00
freq                       51
first     2001-04-30 00:00:00
last      2019-10-18 00:00:00
Name: Date, dtype: object

In [34]:
new_frame['year']=new_frame['Date'].dt.year

In [37]:
new_frame['month']=new_frame['Date'].dt.month

In [47]:
new_frame.Date = pd.to_datetime(new_frame.Date)

In [48]:
new_frame['Qtr']=pd.PeriodIndex(new_frame.Date,freq='Q')

In [49]:
new_frame.head(10)

,Date,ID,IQ_BASIC_EPS_EXCL,IQ_BASIC_EPS_INCL,IQ_BASIC_WEIGHT,IQ_CALC_TYPE_IS,IQ_COGS,IQ_COST_REV,IQ_DA_EBITDA,IQ_DILUT_EPS_EXCL,...,IQ_TOTAL_OPER_EXPEN,IQ_TOTAL_OTHER_OPER,IQ_TOTAL_REV,IQ_TOTAL_REV_AS_REPORTED,IQ_TOTAL_REV_SHARE,IQ_TOTAL_UNUSUAL,IQ_TOTAL_UNUSUAL_SUPPLE,year,month,Qtr
0,2010-03-16,IQ24657663,-5.564456,NaN,-17.015579,NaN,0.672007,0.038442,NaN,-15.630368,...,-5.358695,NaN,-5.358695,-3.186565,NaN,0.096133,-5.358695,2010,3,2010Q1
1,2010-05-18,IQ24657663,-3.373000,NaN,-3.466000,NaN,1.923000,0.007000,NaN,-2.864678,...,-3.373000,NaN,-3.373000,-1.790423,NaN,0.100007,-3.373000,2010,5,2010Q2
2,2010-08-20,IQ24657663,-2.842000,NaN,-2.874000,NaN,1.242000,0.005000,NaN,-2.043156,...,-2.599000,NaN,-2.599000,-1.276972,NaN,0.106636,-2.599000,2010,8,2010Q3
3,2010-11-05,IQ24657663,-3.010000,NaN,-3.050000,NaN,1.473000,0.010000,NaN,-2.199999,...,-3.010000,NaN,-3.010000,-1.355172,NaN,0.194078,-3.010000,2010,11,2010Q4
4,2011-04-01,IQ24657663,-3.223270,NaN,-8.168226,NaN,0.225269,-0.022000,NaN,-4.048724,...,-3.223270,NaN,-3.223270,-1.000103,NaN,0.289518,-3.223270,2011,4,2011Q2
5,2011-04-18,IQ24657663,-2.336000,NaN,-2.372000,NaN,1.197000,0.003000,NaN,-1.000000,...,-2.336000,NaN,-2.336000,-0.605432,NaN,0.285483,-2.336000,2011,4,2011Q2
6,2011-08-26,IQ24657663,-2.739000,NaN,-2.755000,NaN,1.611000,0.042000,NaN,-1.500000,...,-2.739000,NaN,-2.739000,-0.702780,NaN,0.381865,-2.739000,2011,8,2011Q3
7,2011-11-10,IQ24657663,-2.860000,NaN,-2.863000,NaN,2.115000,0.007000,NaN,-0.700000,...,-2.860000,NaN,-2.860000,-0.436811,NaN,0.273333,-2.860000,2011,11,2011Q4
8,2012-03-01,IQ24657663,-3.339967,NaN,-3.300508,NaN,0.493004,0.015808,NaN,-0.802616,...,-3.339967,NaN,-3.339967,-0.501452,NaN,0.281038,-3.339967,2012,3,2012Q1
9,2012-04-25,IQ24657663,-3.464000,NaN,-3.458000,NaN,1.698000,0.080000,NaN,-0.840914,...,-3.464000,NaN,-3.464000,-0.527243,NaN,0.131560,-3.464000,2012,4,2012Q2

In [50]:
def Cleaningnan (df,percentage):
    print(df.shape[1])
    numberna = df.shape[1]-int(df.shape[1]-percentage*df.shape[1]/100)
    print(numberna)
    df.dropna(thresh = numberna, axis =1 , inplace = True )

In [51]:
Cleaningnan(new_frame,10)

82
9

In [52]:
new_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 77 columns):
Date                                  7009 non-null datetime64[ns]
ID                                    7009 non-null object
IQ_BASIC_EPS_EXCL                     6939 non-null float64
IQ_BASIC_EPS_INCL                     1342 non-null float64
IQ_BASIC_WEIGHT                       6939 non-null float64
IQ_CALC_TYPE_IS                       775 non-null float64
IQ_COGS                               6508 non-null float64
IQ_COST_REV                           4728 non-null float64
IQ_DA_EBITDA                          4217 non-null float64
IQ_DILUT_EPS_EXCL                     6648 non-null float64
IQ_DILUT_EPS_INCL                     6907 non-null float64
IQ_DILUT_EPS_NORM                     6939 non-null float64
IQ_DILUT_NI                           6939 non-null float64
IQ_DILUT_WEIGHT                       6845 non-null float64
IQ_DISTRIBUTABLE_CASH                 6939 non-null float64
IQ_DISTRIBUTABLE_CASH_STANDARDIZED    6926 non-null float64
IQ_EARNING_PARENT_EXCL_EXTRA          389 non-null float64
IQ_EBIT                               6977 non-null float64
IQ_EBITA                              6939 non-null float64
IQ_EBITA_EQ_INC                       6907 non-null float64
IQ_EBITA_EQ_INC_EXCL_SBC              6939 non-null float64
IQ_EBITA_EXCL_SBC                     1272 non-null float64
IQ_EBITDA_CAPEX                       6907 non-null float64
IQ_EBITDA_EQ_INC                      6647 non-null float64
IQ_EBITDA_EQ_INC_EXCL_SBC             856 non-null float64
IQ_EBITDA_EXCL_SBC                    6939 non-null float64
IQ_EBIT_EQ_INC                        163 non-null float64
IQ_EBIT_EQ_INC_EXCL_SBC               6650 non-null float64
IQ_EBIT_EXCL_SBC                      6483 non-null float64
IQ_EBT                                6508 non-null float64
IQ_EBT_EXCL                           1272 non-null float64
IQ_EFFECT_TAX_RATE                    5664 non-null float64
IQ_EPS_NORM                           6939 non-null float64
IQ_INC_TAX                            5121 non-null float64
IQ_INTEREST_EXP                       6939 non-null float64
IQ_INTEREST_INVEST_INC                6648 non-null float64
IQ_INT_EXP_INCL_CAP                   6939 non-null float64
IQ_NET_INTEREST_EXP                   159 non-null float64
IQ_NET_RENTAL_EXP                     6939 non-null float64
IQ_NET_RENTAL_EXP_FN                  5961 non-null float64
IQ_NET_RENTAL_EXP_SUPPLE              2017 non-null float64
IQ_NI                                 53 non-null float64
IQ_NI_AVAIL_EXCL                      6907 non-null float64
IQ_NI_AVAIL_INCL                      6656 non-null float64
IQ_NI_COMPANY                         6862 non-null float64
IQ_OPER_INC                           2390 non-null float64
IQ_OTHER_NON_OPER_EXP                 6656 non-null float64
IQ_OTHER_NON_OPER_EXP_SUPPL           6939 non-null float64
IQ_OTHER_OPER                         6937 non-null float64
IQ_OTHER_REV                          5123 non-null float64
IQ_OTHER_REV_SUPPL                    3222 non-null float64
IQ_OTHER_UNUSUAL                      6768 non-null float64
IQ_OTHER_UNUSUAL_SUPPL                6786 non-null float64
IQ_OTHER_UNUSUAL_SUPPLE               6907 non-null float64
IQ_PAYOUT_RATIO                       3273 non-null float64
IQ_PERIODLENGTH_IS                    6523 non-null float64
IQ_PROV_BAD_DEBTS                     6939 non-null float64
IQ_RD_EXP                             2632 non-null float64
IQ_RD_EXP_FN                          64 non-null float64
IQ_RESTATEMENT_IS                     6182 non-null float64
IQ_RESTRUCTURE                        6939 non-null float64
IQ_RESTRUCTURE_SUPPLE                 6648 non-null float64
IQ_REV                                332 non-null float64
IQ_SALARIES_OTHER_BENEFITS            3289 non-null float64
IQ_SAME_STORE                         1510 non-null float64
IQ_SGA                                1132 non-null float64
IQ_SGA_SUPPL                          6939 non-null float64
IQ_SPECIAL_DIV_SHARE                  6939 non-null float64
IQ_TOTAL_OPER_EXPEN                   6939 non-null float64
IQ_TOTAL_OTHER_OPER                   4039 non-null float64
IQ_TOTAL_REV                          6939 non-null float64
IQ_TOTAL_REV_AS_REPORTED              6650 non-null float64
IQ_TOTAL_UNUSUAL                      6558 non-null float64
IQ_TOTAL_UNUSUAL_SUPPLE               6939 non-null float64
year                                  7009 non-null int64
month                                 7009 non-null int64
Qtr                                   7009 non-null period[Q-DEC]
dtypes: datetime64[ns](1), float64(72), int64(2), object(1), period[Q-DEC](1)
memory usage: 4.1+ MB

In [54]:
new_frame.groupby('Qtr').describe()

       IQ_BASIC_EPS_EXCL                                               \
                   count        mean          std       min       25%
Qtr
2001Q2               1.0   -5.211000          NaN    -5.211 -5.211000
2001Q3               1.0   -5.193000          NaN    -5.193 -5.193000
2001Q4               1.0   -5.073000          NaN    -5.073 -5.073000
2002Q1               1.0   -5.135000          NaN    -5.135 -5.135000
2002Q2               1.0   -0.241000          NaN    -0.241 -0.241000
...                  ...         ...          ...       ...       ...
2018Q4             192.0  169.190592  1182.807075   -80.600 -2.879000
2019Q1             128.0   95.170703   293.830417  -808.000 -4.167412
2019Q2             304.0  167.834412  1557.542963  -160.000 -2.977638
2019Q3             261.0  138.644497  1139.829663  -107.019 -1.952000
2019Q4              10.0 -162.260176   542.693230 -1704.000 -4.152500

                                        IQ_BASIC_EPS_INCL             ...  \
             50%        75%         max             count       mean  ...
Qtr                                                                   ...
2001Q2 -5.211000  -5.211000     -5.2110               0.0        NaN  ...
2001Q3 -5.193000  -5.193000     -5.1930               0.0        NaN  ...
2001Q4 -5.073000  -5.073000     -5.0730               0.0        NaN  ...
2002Q1 -5.135000  -5.135000     -5.1350               0.0        NaN  ...
2002Q2 -0.241000  -0.241000     -0.2410               0.0        NaN  ...
...          ...        ...         ...               ...        ...  ...
2018Q4  0.130098  14.895750  15851.0000              43.0  11.898254  ...
2019Q1  6.011250  57.575000   1780.0000              60.0 -86.525917  ...
2019Q2 -0.033747   7.546750  22584.0000              90.0 -22.040985  ...
2019Q3  1.050500  15.744000  18002.0000              70.0  42.535364  ...
2019Q4 -1.452959   0.012989    100.9315               4.0   2.167588  ...

          year          month                                               \
           75%     max  count       mean       std   min   25%   50%   75%
Qtr
2001Q2  2001.0  2001.0    1.0   4.000000       NaN   4.0   4.0   4.0   4.0
2001Q3  2001.0  2001.0    1.0   7.000000       NaN   7.0   7.0   7.0   7.0
2001Q4  2001.0  2001.0    1.0  10.000000       NaN  10.0  10.0  10.0  10.0
2002Q1  2002.0  2002.0    1.0   3.000000       NaN   3.0   3.0   3.0   3.0
2002Q2  2002.0  2002.0    1.0   4.000000       NaN   4.0   4.0   4.0   4.0
...        ...     ...    ...        ...       ...   ...   ...   ...   ...
2018Q4  2018.0  2018.0  193.0  10.735751  0.610342  10.0  10.0  11.0  11.0
2019Q1  2019.0  2019.0  128.0   2.632812  0.530504   1.0   2.0   3.0   3.0
2019Q2  2019.0  2019.0  304.0   4.532895  0.579265   4.0   4.0   4.0   5.0
2019Q3  2019.0  2019.0  262.0   8.072519  0.704724   7.0   8.0   8.0   9.0
2019Q4  2019.0  2019.0   10.0  10.000000  0.000000  10.0  10.0  10.0  10.0


         max
Qtr
2001Q2   4.0
2001Q3   7.0
2001Q4  10.0
2002Q1   3.0
2002Q2   4.0
...      ...
2018Q4  12.0
2019Q1   3.0
2019Q2   6.0
2019Q3   9.0
2019Q4  10.0

[75 rows x 592 columns]

In [55]:
new_frame.groupby('year').describe()

     IQ_BASIC_EPS_EXCL                                               \
                 count        mean          std       min       25%
year
2001               3.0   -5.159000     0.075020    -5.211 -5.202000
2002               4.0   -1.469000     2.445838    -5.135 -1.558250
2003               8.0   88.191125   100.366352    -1.236 -0.439000
2004               9.0   91.382889   110.209604    -0.389 -0.337000
2005              12.0  151.143667   212.792158    -0.217 -0.026500
2006              14.0  105.652714   157.865566     0.349  0.548000
2007              11.0  157.413909   243.595324   -10.409 -4.564500
2008              17.0  120.729747   197.645958    -9.171 -2.283803
2009              52.0  151.049189   442.904652   -36.340 -0.155410
2010             515.0  176.934084  1048.225024  -186.000 -0.982573
2011             559.0  220.347680  1641.643834  -519.191 -1.003750
2012             592.0  191.398979  1360.494013  -134.700 -1.097375
2013             607.0  169.374674  1097.855258  -143.542 -0.814250
2014             665.0  159.904326  1062.319995  -296.000 -1.187000
2015             725.0  109.923353   668.855167  -517.900 -1.333000
2016             762.0  145.808042  1234.584327 -1519.000 -2.162125
2017             817.0  126.688931  1008.703459  -152.745 -2.882500
2018             864.0  120.681059   939.578000  -440.800 -2.816125
2019             703.0  139.071299  1244.862079 -1704.000 -2.921500

                                       IQ_BASIC_EPS_INCL             ...  \
            50%         75%        max             count       mean  ...
year                                                                 ...
2001  -5.193000   -5.133000     -5.073               0.0        NaN  ...
2002  -0.303500   -0.214250     -0.134               0.0        NaN  ...
2003  61.640500  162.675000    236.900               0.0        NaN  ...
2004  18.600000  194.400000    260.900               1.0  29.100000  ...
2005  21.666500  276.700000    677.975               0.0        NaN  ...
2006   0.714500  192.350000    419.800               0.0        NaN  ...
2007   0.868000  327.900000    696.800               0.0        NaN  ...
2008   0.603000  113.000000    536.500               2.0  -0.750000  ...
2009   2.725620   34.200000   2141.000               5.0   0.877969  ...
2010   1.122500   14.948000  14890.000              68.0  -3.310764  ...
2011   1.378000   15.492750  24043.000              81.0   0.775352  ...
2012   0.892114   16.324375  25514.000              84.0  -5.609449  ...
2013   1.461000   17.668938  15495.000              91.0 -13.531825  ...
2014   0.687000   15.165000  15217.000             127.0  -3.524285  ...
2015   0.540860   13.243000  10123.000             129.0  -6.684053  ...
2016   0.495000   12.806625  20730.000             150.0 -17.290609  ...
2017   0.424127   13.868500  18215.000             174.0  11.288485  ...
2018   0.363377   13.445250  16629.000             206.0   0.326518  ...
2019   0.578000   14.029750  22584.000             224.0 -18.701330  ...

     IQ_TOTAL_UNUSUAL_SUPPLE             month                                 \
                         75%        max  count      mean       std  min   25%
year
2001               -0.588500     -0.528    3.0  7.000000  3.000000  4.0  5.50
2002               -0.214250     -0.134    4.0  6.000000  3.162278  3.0  3.75
2003              188.000000    254.000    8.0  6.125000  2.997022  3.0  3.75
2004              211.400000    277.900    9.0  5.555556  3.045944  2.0  3.00
2005              293.475000    677.975   12.0  6.750000  3.387812  2.0  3.75
2006              208.775000    441.700   14.0  6.500000  2.928638  3.0  4.25
2007              365.900000    734.700   11.0  6.727273  3.036146  3.0  4.00
2008              113.000000    565.400   17.0  6.529412  2.831026  2.0  4.00
2009               34.200000   2420.000   52.0  7.480769  3.177682  2.0  4.00
2010               16.156000  14927.000  519.0  6.612717  2.962819  1.0  4.00
2011               17.469000  24098.000  567.0  6.611993  2.967027  1.0  4.00
2012               18.007750  23172.000  599.0  6.565943  2.959353  1.0  4.00
2013               20.810000  15781.000  617.0  6.666126  2.928039  1.0  4.00
2014               18.285329  15681.800  676.0  6.659763  2.886429  1.0  4.00
2015               14.563000  11181.000  728.0  6.670330  2.944904  1.0  4.00
2016               15.687250  22873.000  770.0  6.659740  2.930680  1.0  4.00
2017               16.505000  23714.000  825.0  6.689697  2.919752  1.0  4.00
2018               17.312000  25534.000  874.0  6.691076  2.929604  1.0  4.00
2019               15.696750  24583.000  704.0  5.582386  2.242491  1.0  4.00


      50%    75%   max
year
2001  7.0   8.50  10.0
2002  5.5   7.75  10.0
2003  5.5   8.50  10.0
2004  4.0   7.00  10.0
2005  7.5  10.00  11.0
2006  6.0   8.75  11.0
2007  7.0   9.50  11.0
2008  7.0   9.00  11.0
2009  7.5  11.00  12.0
2010  7.0   9.00  12.0
2011  7.0   9.00  12.0
2012  7.0   9.00  12.0
2013  7.0   9.00  12.0
2014  7.0   9.00  12.0
2015  7.0   9.00  12.0
2016  7.0   9.00  12.0
2017  7.0   9.00  12.0
2018  7.0   9.00  12.0
2019  5.0   8.00  10.0

[19 rows x 584 columns]

In [56]:
new_frame.dtypes

Date                       datetime64[ns]
ID                                 object
IQ_BASIC_EPS_EXCL                 float64
IQ_BASIC_EPS_INCL                 float64
IQ_BASIC_WEIGHT                   float64
                                ...
IQ_TOTAL_UNUSUAL                  float64
IQ_TOTAL_UNUSUAL_SUPPLE           float64
year                                int64
month                               int64
Qtr                         period[Q-DEC]
Length: 77, dtype: object

In [61]:
len(new_frame.ID.unique())

308

In [60]:
len(new_frame.nunique())

77

In [63]:
new_frame.groupby(['year', 'Qtr']).count()

             Date   ID  IQ_BASIC_EPS_EXCL  IQ_BASIC_EPS_INCL  IQ_BASIC_WEIGHT  \
year Qtr
2001 2001Q2     1    1                  1                  0                1
     2001Q3     1    1                  1                  0                1
     2001Q4     1    1                  1                  0                1
2002 2002Q1     1    1                  1                  0                1
     2002Q2     1    1                  1                  0                1
...           ...  ...                ...                ...              ...
2018 2018Q4   193  193                192                 43              192
2019 2019Q1   128  128                128                 60              128
     2019Q2   304  304                304                 90              304
     2019Q3   262  262                261                 70              261
     2019Q4    10   10                 10                  4               10

             IQ_CALC_TYPE_IS  IQ_COGS  IQ_COST_REV  IQ_DA_EBITDA  \
year Qtr
2001 2001Q2                0        1            0             0
     2001Q3                0        1            0             0
     2001Q4                0        1            0             0
2002 2002Q1                0        1            0             0
     2002Q2                0        1            0             0
...                      ...      ...          ...           ...
2018 2018Q4               26      179          134           103
2019 2019Q1               33      123           82           104
     2019Q2               39      283          225           187
     2019Q3               29      251          185           159
     2019Q4                1        9            8             5

             IQ_DILUT_EPS_EXCL  ...  IQ_SGA  IQ_SGA_SUPPL  \
year Qtr                        ...
2001 2001Q2                  1  ...       0             1
     2001Q3                  1  ...       0             1
     2001Q4                  1  ...       0             1
2002 2002Q1                  1  ...       0             1
     2002Q2                  1  ...       0             1
...                        ...  ...     ...           ...
2018 2018Q4                178  ...      29           192
2019 2019Q1                127  ...      59           128
     2019Q2                295  ...      70           304
     2019Q3                257  ...      55           261
     2019Q4                 10  ...       1            10

             IQ_SPECIAL_DIV_SHARE  IQ_TOTAL_OPER_EXPEN  IQ_TOTAL_OTHER_OPER  \
year Qtr
2001 2001Q2                     1                    1                    1
     2001Q3                     1                    1                    0
     2001Q4                     1                    1                    0
2002 2002Q1                     1                    1                    0
     2002Q2                     1                    1                    0
...                           ...                  ...                  ...
2018 2018Q4                   192                  192                  114
2019 2019Q1                   128                  128                  100
     2019Q2                   304                  304                  201
     2019Q3                   261                  261                  167
     2019Q4                    10                   10                    6

             IQ_TOTAL_REV  IQ_TOTAL_REV_AS_REPORTED  IQ_TOTAL_UNUSUAL  \
year Qtr
2001 2001Q2             1                         1                 1
     2001Q3             1                         1                 1
     2001Q4             1                         1                 1
2002 2002Q1             1                         1                 1
     2002Q2             1                         1                 1
...                   ...                       ...               ...
2018 2018Q4           192                       178               173
2019 2019Q1           128                       127               127
     2019Q2           304                       295               290
     2019Q3           261                       257               254
     2019Q4            10                        10                10

             IQ_TOTAL_UNUSUAL_SUPPLE  month
year Qtr
2001 2001Q2                        1      1
     2001Q3                        1      1
     2001Q4                        1      1
2002 2002Q1                        1      1
     2002Q2                        1      1
...                              ...    ...
2018 2018Q4                      192    193
2019 2019Q1                      128    128
     2019Q2                      304    304
     2019Q3                      261    262
     2019Q4                       10     10

[75 rows x 75 columns]